.toy-tile {
  width: 20%;
  height: 20%;
  position: absolute;
  background-color: greenyellow;
  display: flex;
  align-items: center;
  justify-content: center;
}
ion-col {
  background-color: red;
  outline: 1px solid black;
  padding: 0;
  margin: 0;
}
ion-grid {
  position: relative;
  padding: 0;
  max-width: 500px;
}
ion-icon {
  font-size: xxx-large !important;
}

ion-item { 
  position: relative;
  margin-bottom: 10px;
  .error {
    position: absolute;
    font-size: xx-small;
    bottom: -10;
  }
}